<form method="POST" name="form1" action="/postRegDetails">

    <label >Enter your user name</label>
    <input type="text" id="uname" name="uname">

    <label >Enter your email</label>
    <input type="text" id="email" name="email">

    <label >Enter your mob.no.</label>
    <input type="text" id="mob.no." name="mob.no">

    <label >Enter your phon.no.</label>
    <input type="text" id="phon.no." name="phon.no.">

    <label >Enter your permanent add.</label>
    <input type="text" id="permanent add." name="permanent add">

    <label >Enter your current add.</label>
    <input type="text" id="current add." name="current add.">

    <label >Enter your linked in id</label>
    <input type="text" id="linked in id" name="linked in id">

    <label >Enter your instagram id</label>
    <input type="text" id="instagram id" name="instagram id">

    <label >Enter your quora id</label>
    <input type="text" id="quora id" name="quora id">
    

    <label >Enter your whatsapp no.</label>
    <input type="text" id="whatsapp no." name="whatsapp no.">


    <input type="submit" value="submit">
</form>